

Grader::Initializer.run do |config|

  config.problems_dir = "/home/jittat/grader/ev"
  config.user_result_dir = "/home/jittat/grader/result"
  
  config.talkative = true
  
  config.report_grader = true
  
  config.report_comment = lambda do |comment|	
    comment.chomp
  end
  
end
