# Rails app directory (where you store web interface dir)
RAILS_ROOT = "RAILS-ROOT"

# This is where scripts dir is.
GRADER_ROOT = "GRADER-DIR/scripts"

# This load all required codes
require File.join(File.dirname(__FILE__),'../lib/boot')

# load the required environment file
require File.dirname(__FILE__) + "/env_#{GRADER_ENV}.rb"
